.text-content {
    margin: 0px auto 55px;
    width: 570px;
    text-align: center;
}
.brand-title {
    font-size: 52px;
    line-height: 62px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.brand-description {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}